// if you want to fork veil, rename this file to secrets.h and fill in your own values if you want to use telemetry
// you can nicely ask for the anon key in my discord server if you want your fork to contribute to the main project
namespace Veil::Secrets {
    inline constexpr const char* SUPABASE_URL = "";
    inline constexpr const char* SUPABASE_ANON_KEY = "";
}